{% extends 'portfolio/base.html' %}

{% block title %}
    <title>Christopher Clark Manganti</title>
    <meta name="description" content="Christopher Clark Manganti, Personal blog site and projects showcase of a Computer Engineer based in the Philippines.">
{% endblock title %}

{% block content %}
        
    <section style="height: 100vh; background-color: whitesmoke;">
        <div class="container ps-sm-0 ps-md-0 ps-lg-0" style="padding-top: 8%;" data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease-in-out">
            <h3 class="pt-5 pb-2" style="color: rgb(50, 50, 50);">Blog - Projects Showcase<p></p><p style="font-weight: 400; font-size: large;">Page is currently in development.</p></h3>
        </div>
    </section>


{% endblock content %}
